<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-dark bg-primary" th:fragment="header">
	<div class="container-fluid">
		<a class="navbar-brand me-3" th:href="@{/inventory}">トップへ戻る</a>
		<div class="d-flex align-items-center ms-auto gap-3">
			<span class="navbar-text text-white">
				ログインID:
				<span sec:authentication="name"></span>
			</span>
			<form th:action="@{/logout}" method="post" class="m-0">
				<input type="submit" class="btn btn-outline-light" value="ログアウト" />
			</form>
		</div>
	</div>
</nav>
</body>
</html>